.prod-card {
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    border: 1px solid #e5e7eb;
}

.img-slider img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    border-radius: 8px;
}

.prod-title {
    font-size: 15px;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 6px;
}

.prod-info p {
    margin: 2px 0;
    font-size: 13px;
    color: #444;
}

.prod-info>div {
    margin-bottom: 2px;
}

.swiper-pagination-bullet {
    background: #bbb;
    opacity: .7;
}

.swiper-pagination-bullet-active {
    background: #2663ff;
}